body{
    background-color: lightcyan;
    margin-top: 100px;
    margin-left: 100px;
}
#showSalary{
    width: 200px;
    border: 2px solid black;
    background: yellow;
}

#totalSalary{
    width: 200px;
    border: 2px solid black;
    background: lightgreen;
}